<a href="/login"><button type="button" class="btn btn-primary btn-lg d-block ml-auto mt-4">Owner login</button></a>
<h4>You have: $<span class="money">100000</span></h4>
<h1 class="text-center mt-3">CASINO !</h1>


<div class="board">
  <div class="block black">1</div>
  <div class="block red">2</div>
  <div class="block black">3</div>
  <div class="block red">4</div>
  <div class="block black">5</div>
  <div class="block red">6</div>
  <div class="block black">7</div>
  <div class="block red">8</div>
  <div class="block black">9</div>
  <div class="block red">10</div>
</div>
<br>

<div class="wrapper">
  <div class="number">
    <h3 class="">Choose a number</h3>
    <select class="numberOptions form-control w-25 ml-5" id="exampleSelect1">
      <option class="numOption" value="1">1</option>
      <option class="numOption" value="2">2</option>
      <option class="numOption" value="3">3</option>
      <option class="numOption" value="4">4</option>
      <option class="numOption" value="5">5</option>
      <option class="numOption" value="6">6</option>
      <option class="numOption" value="7">7</option>
      <option class="numOption" value="8">8</option>
      <option class="numOption" value="9">9</option>
      <option class="numOption" value="10">10</option>
    </select>
    <input type="text" class="numBetValue form-control w-25 ml-5" placeholder="Bet amount $" id="inputDefault">
    <button type="button" class="numberBet btn btn-outline-primary d-block w-25 ml-5 mt-2">Bet</button>
  </div>
  <div class="color">
    <h3 class="">Choose a color</h3>
    <select class="colorOptions form-control w-25 ml-5" id="exampleSelect1">
      <option value="black">black</option>
      <option value="red">red</option>
    </select>
    <select class="colorBetValue form-control w-25 ml-5" id="exampleSelect1">
      <option value="0">Bet Amount</option>
      <option value="10">$10</option>
      <option value="50">$50</option>
    </select>
    <button type="button" class="colorBet btn btn-outline-primary d-block w-25 ml-5 mt-2">Bet</button>
  </div>
</div>
