<a href="/"><button type="button" class="btn btn-primary btn-lg d-block ml-auto mt-3">Back to the Casino</button></a>
<h1 class="text-center mt-5">Reserved for the owner</h1>

<h4 class="text-center mt-5"> Total Money: $<%= stats[0].totalMoney %> </h4>
<h4 class="text-center"> Wins: <%= stats[0].wins %> </h4>
<h4 class="text-center"> Losses: <%= stats[0].losses %> </h4>
